*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rbuildignore
*.Rproj
*.coverage
*.swp
*.cache
*.pyc
*.egg-info
/data/
/decontam_pipeline/fmbiopy
/decontam_pipeline/test/testdat
/decontam_pipeline/pipe
/decontam_pipeline/devpipe
!/decontam_pipeline/pipe/*.snake
!/decontam_pipeline/devpipe/*.snake
testdat/
/megadaph.nuc/data/
/megadaph.nuc/data-raw/
.Rproj.user
*.log
.mypy_cache
.ruffus_history.sqlite

