*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rbuildignore
*.Rproj
*.coverage
*.swp
*.cache
*.pyc
*.egg-info
*.bam
slurm*.out
.snakemake*
tags*
exploratory_analyses
/data/
devpipe
pipe/input
!pipe/input/metadata/line_info.csv
pipe/output
pipe/util
pipe/ref
testdat/
/megadaph.nuc/data/
/megadaph.nuc/data-raw/
.Rproj.user
*.log
.mypy_cache
.ruffus_history.sqlite
