*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rbuildignore
*.Rproj
*.coverage
*.swp
*.cache
*.pyc
*.egg-info
*.bam
.snakemake/
scripts
/data/
devpipe
pipe/input
pipe/output
pipe/ref
testdat/
/megadaph.nuc/data/
/megadaph.nuc/data-raw/
.Rproj.user
*.log
.mypy_cache
.ruffus_history.sqlite
